/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/* 盤面 */
.sc-knuRna,
/* 背景 */
.sc-bWXABl,
/* キャラ */
.sc-ZyCDH,
/* ヘッダー削除 */
header,
/* 音量 */
.sc-caXVBt,
/* 拡大縮小 */
.sc-gVAlfg.cDMISq,
/* 鉛筆ボタン */
.sc-bGWzfD.eIoVGu,
/* 監視モード */
.MuiSnackbar-root,
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/* ステータス欄 */
#root > div > div.sc-fbPSWO.dtsdOQ > div.sc-hKpBwk.CawLz {

  .sc-kngDgl {
    top: 0;
    padding: 0;
  }

  /* キャラアイコンを削除 */
  .MuiBadge-root {
    display: none;
  }

  /* 全て非表示にする */
  /*
  .sc-kngDgl > div {
    display: none;
  }
  */

  /* サイズ調整 */
  .MuiTypography-body2 {
    font-size: 2rem;
  }

    /* 横並び（200の倍数） */
  .sc-iWajrY.bPXPQc
  {
    max-width: 600px;
  }

  .sc-hZFzCs.LzOyi {
    height: 48px;
    width: 200px;
  }
  
  .sc-cHPgQl.gHLokd > div {
    height: 48px;
  }

  .MuiTypography-body2 {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  /* 特定のキャラだけ表示（1からスタート） */
  /*
  .sc-jmnVvD>div:nth-child(1) {
    display: flex;
  }
  */
}

/* ポップアップ */
.sc-gGnURB.ihOmcc{
  min-height: 160px;
  max-width: 960px;
  opacity: 0.9 !important;

  >div {
    min-height: 160px;
    max-height: 960px;
    width: 960px !important;
  }

  /* タイトルの方 */
  .MuiTypography-subtitle2,
  .MuiTypography-body2 {
    font-size: 1.6rem;
  }

  /* ログの方 */
  .MuiTypography-body1 {
    font-size: 2rem;
  }

  .MuiToolbar-root+div {
    min-height: 160px;
    max-height: 1800px;
  }

  .sc-egNfGp.jduNjR {
    padding: 0px 24px 16px;
    height: initial;
    overflow-y: visible;
  }
  
  /* アイコン */
  > img {
    visibility: none;
    display: none;
  }

  /* ダイス */
  .sc-itUGML.fpJfOM > img {
    height: 120px;
    width: 120px;
  }
}