body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}

/* 表面 */
#root>div>div.MuiDrawer-root.MuiDrawer-docked.sc-bBXxYQ.dpyOPx,
#root>div>div.sc-kgUAyh.bQuPFq>div.sc-djvmMF.jQdwqQ>div>div,
#root>div>div.sc-TRNrF.bXnBWt,
#root>div>header {
  display: none;
}

/* 盤面 */
#root>div>div.sc-kgUAyh.bQuPFq {
  width: 100%;
}

/* ポップアップ */
#root>div>div.sc-kgUAyh.bQuPFq>div.MuiPaper-root.sc-djUGQo.hqkidh.MuiPaper-elevation1.MuiPaper-rounded {
  min-height: 160px;
  max-width: 960px;
  opacity: 0.9 !important;

  >div {
    min-height: 160px;
    max-height: 960px;
    width: 960px !important;
  }

  /* タイトルの方 */
  .MuiTypography-subtitle2,
  .MuiTypography-body2 {
    font-size: 1.6rem;
  }

  /* ログの方 */
  .MuiTypography-body1 {
    font-size: 2rem;
  }

  .MuiToolbar-root+div {
    min-height: 160px;
    max-height: 1800px;
  }

  .hUiEzw {
    padding: 0px 24px 16px;
    height: initial;
    overflow-y: visible;
  }

  /* アイコン */
  >img {
    visibility: none;
    display: none;
  }

  /* ダイス */
  >div>div.sc-edUIhV.cpRwfx>img {
    height: 150px;
    width: 150px;
  }
}


#root>div>div.sc-kgUAyh.bQuPFq {

  /**************************
	　ステータス
	**************************/
  /* キャラアイコンを削除 */
  .MuiBadge-root {
    display: none;
  }

  /* サイズ調整 */
  .MuiTypography-body2 {
    font-size: 2rem;
  }

  .sc-hsOonA>div>div>div,
  .sc-hsOonA>div>div>div>div:nth-child(2)>div {
    height: 48px;
  }

  .sc-hsOonA>div>div>div {
    width: 200px;
  }

  .MuiTypography-body2 {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  /* 特定のキャラだけ表示（1からスタート） */
  /*
	.sc-hsOonA:nth-child(1) {
	  display: flex;
	}
	*/
  /* 横並び（200の倍数） */
  .sc-fHsOPI {
    max-width: 600px;
  }
}