/* OBS */
body {
  background-color: rgba(0, 0, 0, 0);
  margin: 0px auto;
  overflow: hidden;
}
/* カットイン */
div[open],
/* 盤面 */
div[tabindex="0"],
/* 盤面 */
div[tabindex="0"]>div:nth-child(1),
/* キャラ */
.MuiButtonBase-root+div+div,
.MuiPaper-root.MuiPaper-elevation1.MuiPaper-rounded+div,
/* チャット */
.MuiDrawer-root.MuiDrawer-docked,
/* モーダル削除 */
[role="presentation"],
/* ヘッダー削除 */
/* headerのみだとチャットのタブも消える */
header>.MuiToolbar-gutters,
/* 音量 */
div[tabindex="0"]>div:nth-child(3),
/* 拡大縮小 */
.MuiButtonBase-root+div,
/* 鉛筆ボタン */
.MuiButtonBase-root.MuiFab-root,
/* 監視モード */
.MuiSnackbar-root,
/* スクロールバー */
::-webkit-scrollbar {
  display: none !important;
}

/******************
#root > div > div.sc-fbPSWO.dtsdOQ > div.MuiPaper-root.sc-gGnURB.ihOmcc.MuiPaper-elevation1.MuiPaper-rounded:not([style*="transform: none"]) {
  position: relative;
  animation: move-down 15s 5s forwards;
}

#root > div > div.sc-fbPSWO.dtsdOQ > div.MuiPaper-root.sc-gGnURB.ihOmcc.MuiPaper-elevation1.MuiPaper-rounded[style*="transform: none"] {
  position: relative;
  animation: move-top 15s 5s forwards;
}

@keyframes move-top {
  100% {
    top: -100px;
    opacity: 0;
  }
}

@keyframes move-down {
  100% {
    top: 100px;
    opacity: 0;
  }
}
**************/
/**************************
　ステータス
**************************/
/* 上下の調整 */
.MuiButtonBase-root+div+div,
.MuiPaper-rounded+div {
  top: 0;
  padding: 0;
}

/* キャラアイコンを削除 */
.MuiBadge-root {
  display: none;
}

/* 全て非表示にする */
.MuiButtonBase-root+div+div>div,
.MuiPaper-rounded+div>div {
  display: none;
}

/* サイズ調整 */
.MuiTypography-body2 {
  font-size: 2rem;
}

.MuiButtonBase-root+div+div>div>div>div>div,
.MuiButtonBase-root+div+div>div>div>div>div>div:nth-child(2)>div,
.MuiPaper-rounded+div>div>div>div>div,
.MuiPaper-rounded+div>div>div>div>div>div:nth-child(2)>div {
  height: 48px;
}

/* margin分短くする */
.MuiButtonBase-root+div+div>div>div>div>div,
.MuiPaper-rounded+div>div>div>div>div {
  width: 196px;
}

.MuiTypography-body2 {
  display: flex;
  align-items: center;
  padding: 10px;
}

/* ポップアップ */
.MuiPaper-root {
  min-height: 160px;
  max-width: 960px;
  opacity: 0.9 !important;

  >div {
    min-height: 160px;
    max-height: 960px;
    width: 960px !important;
  }

  /* タイトルの方 */
  .MuiTypography-subtitle2,
  .MuiTypography-body2 {
    font-size: 1.6rem;
  }

  .MuiToolbar-gutters {
    padding: 12px 24px;
  }
  /* ログの方 */
  .MuiTypography-body1 {
    font-size: 2rem;
  }

  .MuiToolbar-root+div {
    min-height: 160px;
    max-height: 1800px;
  }

  .sc-egNfGp.jduNjR {
    padding: 0px 24px 16px;
    height: initial;
    overflow-y: visible;
  }
  /* アイコン */
  .MuiPaper-root>img {
    display: none;
  }

  .MuiPaper-root>img[src=""] {
    display: none;
  }
}