body {
	background-color: rgba(0, 0, 0, 0);
}

/* チャット欄 */
/* ポップアップ */
.MuiPaper-elevation1,
.MuiDrawer-root{
	display: none;
}

/* 盤面 */
div[tabindex="0"] {
  width: 100% !important;
}



#root > div > div.sc-fbPSWO.dtsdOQ > div.sc-djvmMF.jQdwqQ > div > div > div > div {
	// 配置固定 スクリーンパネルの無効化
	.sc-GVOUr.craUcb > img {
		// display: none;
	}

	// キャラクター無効化
	> figure {
		// display: none;
	}
}



#root > div > div.sc-fbPSWO.dtsdOQ {
	/**************************
	　ステータス
	**************************/
	/* キャラアイコンを削除 */
	.MuiBadge-root {
	display: none;
	}

	/* 全て非表示にする */
	.sc-jmnVvD > div {
	display: none;
	}

	/* サイズ調整 */
	.MuiTypography-body2 {
	font-size: 2rem;
	}

	.sc-jmnVvD>div>div>div>div,
	.sc-jmnVvD>div>div>div>div>div:nth-child(2)>div {
	height: 48px;
	}

	.sc-jmnVvD>div>div>div>div {
	width: 200px;
	}

	.MuiTypography-body2 {
	display: flex;
	align-items: center;
	padding: 10px;
	}

	/* 特定のキャラだけ表示（1からスタート） */
	/*
	.sc-hsOonA:nth-child(1) {
	  display: flex;
	}
	*/
	/* 横並び（200の倍数） */
	.sc-jmnVvD>div>div>div {
		max-width: 600px;
	}
}
