#root > div > div.sc-kgUAyh.bQuPFq > div.MuiPaper-root {
	background-color: rgba(0, 0, 0, 0);
}

/* チャット欄 */
#root > div > div.MuiDrawer-root.MuiDrawer-docked.sc-bBXxYQ.dpyOPx > div{
	display: none;
}

/* 盤面 */
#root > div > div.sc-kgUAyh.bQuPFq {
	width: 100%;
}



#root > div > div.sc-kgUAyh.bQuPFq > div.sc-djvmMF.jQdwqQ > div > div > div > div {
	// 配置固定 スクリーンパネルの無効化
	.sc-hTtwUo.bYSbUT > img {
		// display: none;
	}

	// キャラクター無効化
	> figure {
		// display: none;
	}
}

/* ポップアップ */
#root > div > div.sc-kgUAyh.bQuPFq > div.MuiPaper-root.sc-djUGQo.hqkidh.MuiPaper-elevation1.MuiPaper-rounded {
	display: none;
}

#root > div > div.sc-kgUAyh.bQuPFq {
	/**************************
	　ステータス
	**************************/
	/* キャラアイコンを削除 */
	.MuiBadge-root {
		display: none;
	}

	/* サイズ調整 */
	.MuiTypography-body2 {
		font-size: 2rem;
	}

	.sc-hsOonA > div > div > div,
	.sc-hsOonA > div > div > div > div:nth-child(2) > div {
		height: 48px;
	}

	.sc-hsOonA > div > div > div {
		width: 200px;
	}

	.MuiTypography-body2 {
		display: flex;
		align-items: center;
		padding: 10px;
	}

	/* 特定のキャラだけ表示（1からスタート） */
	/*
	.sc-hsOonA:nth-child(1) {
	  display: flex;
	}
	*/
	/* 横並び（200の倍数） */
	.sc-fHsOPI {
		max-width: 600px;
	}
}
